<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="uploader" name="Upload Delegate" schema="schema/uploader.exsd"/>
   <extension-point id="org.eclipse.epp.usagedata.internal.recording.converter" name="Converter Delegate" schema="schema/org.eclipse.epp.usagedata.internal.recording.converter.exsd"/>
   <extension
         point="org.eclipse.epp.usagedata.listeners.event">
      <listener
            class="org.eclipse.epp.usagedata.internal.recording.UsageDataRecorder">
      </listener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.epp.usagedata.internal.recording.settings.UsageDataRecordingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.epp.usagedata.internal.recording.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.epp.usagedata.internal.recording.converter">
      <converter
            class="org.eclipse.epp.usagedata.internal.recording.storage.AbstractEventStorageConverter">
      </converter>
   </extension>
</plugin>
