<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
       id="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors" 
       name="Usage Data Monitors" 
       schema="schema/ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.exsd"/>
   <extension-point 
       id="ca.ubc.cs.commandrecommender.usagedata.listeners.event" 
       name="Event Listener"
       schema="schema/ca.ubc.cs.commandrecommender.usagedata.listeners.event.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.Startup"></startup>
   </extension>
   <extension
         point="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors">
      <monitor
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.PartUsageMonitor">
      </monitor>
      <monitor
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.BundleUsageMonitor">
      </monitor>
      <monitor
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.CommandUsageMonitor">
      </monitor>
      <monitor
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.SystemInfoMonitor">
      </monitor>
      <monitor
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.monitors.LogMonitor">
      </monitor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.ubc.cs.commandrecommender.usagedata.gathering.settings.UsageDataCapturePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands"
         id="ca.ubc.cs.commandrecommender.usagedata.gathering.contexttoggle"
         name="Context Writer Toggle"
         defaultHandler="ca.ubc.cs.commandrecommender.usagedata.gathering.handlers.ContextWriterToggleHandler">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
         	locationURI="toolbar:org.eclipse.ui.main.toolbar">
         	<toolbar
         		id="ca.ubc.cs.commandrecommender.usagedata.gathering.toolbar"
         		>
         		<command
         			commandId="ca.ubc.cs.commandrecommender.usagedata.gathering.contexttoggle"
         			id="ca.ubc.cs.commandrecommender.usagedata.gathering.contexttoggletoolbar"
         			icon="icons/sample.gif">
         		</command>
         	</toolbar>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
         class="ca.ubc.cs.commandrecommender.usagedata.gathering.handlers.ContextWriterToggleHandler"
         commandId="ca.ubc.cs.commandrecommender.usagedata.gathering.contexttoggle">
         </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
         <image
         commandId="ca.ubc.cs.commandrecommender.usagedata.gathering.contexttoggle"
         icon="icons/sample.gif">
         </image>
   </extension>
  


</plugin>
